<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IALP</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="icon" href="./image/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="shell" id="app">
        <div class="shell-main">
            <div class="shell-main-nav">
                <a href="index.html">
                <div class="logo">
                    <img src="./image/logo_.png" alt="Website Image" style=" height: 40px;  width: 40px; margin-right: 10px;">
                    <span>IALP</span>
                </div>
                </a>
                <ul>
                    <li><a href="functionPage.html">学习</a></li>
                    <li v-if="!user_login"><a href="Register.html">注册</a></li>
                    <li v-if="!user_login"><a href="Login.html">登录</a></li>
                    <li v-if="user_login"><a href="info.html">用户</a></li>
                    <li v-if="user_login"><a href="analysis.html">分析</a></li>
                    <li><a href="knowledgeGraph.html">图谱</a></li>
                    <li><a href="about.html">关于我们</a></li>
                    <div class="nav-box"></div>
                </ul>
                <div class="dropdown" v-if="user_login">
                    <el-dropdown>
                        <span class="el-dropdown-link">
                            <a href="info.html">
                                <div class="block" id="avatar"> <el-avatar :size="50" v-if="user.icon" :src="user.icon"></el-avatar>
                        <el-avatar :size="50" v-else src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar></div>
                            </a>
                            <!--<i class="el-icon-arrow-down el-icon--right"></i>-->
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item style="max-width: 185px; overflow: hidden; text-overflow: ellipsis;"> {{ user.nickName
                                }}</el-dropdown-item>
                            <el-dropdown-item divided @click.native="logout">登出</el-dropdown-item>
                            <a href="index.html"><el-dropdown-item>首页</el-dropdown-item></a>
                            <a href="functionPage.html"><el-dropdown-item>学习</el-dropdown-item></a>
                            <a href="about.html"><el-dropdown-item>关于我们</el-dropdown-item></a>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
            </div>
          
            <div class="image_show">
               
                <template>
                    <el-carousel indicator-position="outside" height="600px">
                        <el-carousel-item v-for="item in 3" :key="item" style="border-radius: 10px;">
                            <img :src="`../image/${item}.jpg`" alt="`Image${item}`">
                        </el-carousel-item>
                    </el-carousel>
                </template>

            </div>
            <div class="shell-main-product">
                <div class="shell-main-product-header">
                    <h2>网站介绍</h2>
                    <span>在 IALP，我们深知每位学习者的独特性，并致力于提供深度个性化的学习体验。</span>
                    <span>通过将尖端人工智能技术与先进的教育理念相结合，我们为您开发了以下三大核心科技特色：</span>
                    <span>· 短答题评分：利用 DeepSeek-V1 模型，我们为您的主观题提供精准评分和深入分析。</span>
                    <span>· 题目推荐：基于协同算法，智能推荐符合您水平和兴趣的问题。</span>
                    <span>· 个性化学习路径：运用知识图谱技术定制学习路径，推荐最适合的课程和资料。</span>
                    <span>选择 IALP，就是选择一位能提供深度个性化反馈和支持的学习伙伴。</span>
                    <span>我们相信，凭借精准的评分和针对性的学习建议，每位学习者都能在教育之旅中取得显著进步。</span>
                    <span>现在就开始您的智能学习之旅吧，让我们的技术为您助力。快来注册并加入我们的学习队伍！</span>
                </div>
                <div class="shell-main-product-bottom">
                    <ul>
                        <li>
                            <img src="./image/4.PNG" alt="">
                            <h2 style="margin-top: 13px;">题库导航系统</h2>
                            
                        </li>
                        <li>
                            <img src="./image/5.png" alt="">
                            <h2 style="margin-top: 25px;">智能答题系统</h2>
                            
                        </li>
                        <li style="background-color: white;">
                            <img src="./image/6.png" alt="" style="margin-top: 20px;">
                            <h2  style="margin-top: 13px;">用户分析系统</h2>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shell-main-content"  id="func1-content">
                <div class="shell-main-content-left" id="func1-left">
                    <div class="shell-main-content-left-top" id="func1-top">
                        <h2>基于大语言模型的短答评分功能</h2>
                    </div>
                    <div class="shell-main-content-left-bottom" id="func1-bottom">
                        <span>
                            在我们的网站上，我们引入了使用先进人工智能技术——DeepSeek-V1 模型的个性化评分功能。该系统通过深入理解您提交的每一个词，
                            准确评估主观题答案。它不仅判断正误，还根据详细标准分析您的回答的知识深度、逻辑性和创造性。
                        </span>
                    </div>
                    <div class="shell-main-content-left-footer" id="func1-footer">
                        <a href="./functionPage.html">Start</a>
                    </div>
                </div>
                <div class="shell-main-content-right" id="func1-right"></div>                
            </div>
            <div class="shell-main-content-adverse" id="func2-content">
                <div class="shell-main-content-right-adverse" id="func2-right"></div>
                <div class="shell-main-content-left-adverse" id="func2-left">
                    <div class="shell-main-content-left-top-adverse" id="func2-top">
                        <h2 style="max-width: 800px;">基于协同过滤算法的推荐题目功能</h2>
                    </div>
                    <div class="shell-main-content-left-bottom-adverse" id="func2-bottom">
                        <div style="max-width: 800px;">
                            我们引入了基于协同算法的推荐功能，帮助您找到与您水平相匹配并促进学习进步的题目。通过分析顶尖学习者的解题记录和您的偏好，
                            我们的平台筛选出对您进步最有益的题目。</div>
                    </div>
                    <div class="shell-main-content-left-footer-adverse" id="func2-footer">
                        <a href="./functionPage.html">Start</a>
                    </div>
                </div>
            </div>
            <div class="shell-main-content" id="func3-content">
                <div class="shell-main-content-left" id="func3-left">
                    <div class="shell-main-content-left-top" id="func3-top">
                        <h2>水平联邦学习</h2>
                    </div>
                    <div class="shell-main-content-left-bottom" id="func3-bottom">
                        <span>
                            自信且私密地探索职业机会，尽在我们的水平联邦学习功能。选择心仪的企业职位和课程，即可获得实时个性化工作匹配。
                            我们的联邦学习技术在分析职业适配性的同时保护数据隐私。通过我们的智能匹配服务，安全开启职业成长之旅。
                        </span>
                    </div>
                    <div class="shell-main-content-left-footer" id="func3-footer">
                        <a href="functionPage.html">Start</a>
                    </div>
                </div>
                <div class="shell-main-content-right" id="func3-right"></div>                
            </div>
            <div class="shell-main-footer">
                <ul class="social_icon">
                    <div class="middle">
                        <a href="#" class="bt"><i class="fab fa-github"></i></a>
                        <a href="#" class="bt"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="bt"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="bt"><i class="fab fa-google"></i></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>

<!-- 引入jquery -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./plugins/vue/vue.js"></script>
<script src="./plugins/axios/axios.min.js"></script>
<link rel="stylesheet" href="./plugins/element-ui/lib/theme-chalk/index.css">
<script src="./plugins/element-ui/lib/index.js"></script>
<script src="./js/common.js"></script>
<script>
    window.addEventListener('scroll', function () {
        let windowHeight = window.innerHeight; // 获取当前窗口的高度
        let triggerPoint1 = windowHeight * 1.1;
        let triggerPoint2 = windowHeight * 2.1;
        let triggerPoint3 = windowHeight * 3;
        let scrollTop = window.scrollY; // 获取当前滚动位置

        if (scrollTop > triggerPoint1) {
            $('#func1-top').css('opacity', '1')
            $('#func1-top').css('transform', 'translateY(0px)')
            $('#func1-bottom').css('opacity', '1')
            $('#func1-bottom').css('transform', 'translateY(0px)')
            $('#func1-footer').css('opacity', '1')
            $('#func1-footer').css('transform', 'translateY(0px)')
        } else {
            $('#func1-top').css('opacity', '0')
            $('#func1-top').css('transform', 'translateY(400px)')
            $('#func1-bottom').css('opacity', '0')
            $('#func1-bottom').css('transform', 'translateY(400px)')
            $('#func1-footer').css('opacity', '0')
            $('#func1-footer').css('transform', 'translateY(400px)')
        }
        if (scrollTop > triggerPoint2) {
            $('#func2-top').css('opacity', '1')
            $('#func2-top').css('transform', 'translateY(0px) translateX(10%)')
            $('#func2-bottom').css('opacity', '1')
            $('#func2-bottom').css('transform', 'translateY(0px) translateX(10%)')
            $('#func2-footer').css('opacity', '1')
            $('#func2-footer').css('transform', 'translateY(0px)')
        } else {
            $('#func2-top').css('opacity', '0')
            $('#func2-top').css('transform', 'translateY(400px) translateX(10%)')
            $('#func2-bottom').css('opacity', '0')
            $('#func2-bottom').css('transform', 'translateY(400px) translateX(10%)')
            $('#func2-footer').css('opacity', '0')
            $('#func2-footer').css('transform', 'translateY(400px)')
        }
        if (scrollTop > triggerPoint3) {
            $('#func3-top').css('opacity', '1')
            $('#func3-top').css('transform', 'translateY(0px)')
            $('#func3-bottom').css('opacity', '1')
            $('#func3-bottom').css('transform', 'translateY(0px)')
            $('#func3-footer').css('opacity', '1')
            $('#func3-footer').css('transform', 'translateY(0px)')
        } else {
            $('#func3-top').css('opacity', '0')
            $('#func3-top').css('transform', 'translateY(400px)')
            $('#func3-bottom').css('opacity', '0')
            $('#func3-bottom').css('transform', 'translateY(400px)')
            $('#func3-footer').css('opacity', '0')
            $('#func3-footer').css('transform', 'translateY(400px)')
        }
    })


    
    let left = document.querySelector('.button-left')
    let right = document.querySelector('.button-right')
    let img = document.querySelectorAll('.img')
    let images = document.querySelector('.images')

    let index = 0
    let time

    function position() {
        images.style.left = (index * -100) + "%"
    }
    function add() {
        if (index >= img.length - 1) {
            index = 0
        } else {
            index++
        }
    }
    function desc() {
        if (index < 1) {
            index = img.length - 1
        } else {
            index--
        }
    }
    function timer() {
        time = setInterval(() => {
            add()
            position()
        }, 3000)
    }
    left.addEventListener('click', () => {
        clearInterval(time)
        desc()
        position()
        timer()
    })
    right.addEventListener('click', () => {
        clearInterval(time)
        add()
        position()
        timer()
    })
    timer()
</script>
<script>
    new Vue({
        el:"#app",
        data() {
            return {
                user_login:false,
                user:{}
            }
        },
        mounted() {
            var user_token = sessionStorage.getItem('token');

            if (user_token) {
                this.user_login=true;
                this.fetchUserInfo();
            } else {              
                console.log('User didn\'t login');
            }
             
        },
        methods: {
            async logout() {
                try {
                    const response = await axios.get('/user/logout');
                    sessionStorage.removeItem("token");
                    this.$message.success("登出成功！");
                    window.location.href = './Login.html';
                } catch (error) {
                    this.$message.error(error);
                    console.error(error);
                }
            },
            async fetchUserInfo() {
                const _this = this;
                try {
                    const response = await axios.get('/user/me');
                    if (response.success) {
                        _this.user = response.data;
                    }
                    else {

                        throw new Error('Network response was not ok.');
                    }
                } catch (error) {
                    console.error(error);
                }
            },
        },
       
    })
   
</script>


</html>