<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.IGsystem.mapper.TestResultMapper">
    <select id="getUserScoreListByUserId" resultType="double">
        SELECT user_score
        FROM test_result
        WHERE user_id = #{userId}
        ORDER BY id DESC
        LIMIT 10
    </select>
</mapper>
